<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.knowultra2.infoversed">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoVerse">

        <!-- Launcher Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".MainActivity" android:exported="true"/>
        <activity android:name=".EarthActivity"/>
        <activity android:name=".CountriesFlagsActivity"/>
        <activity android:name=".InventionsActivity"/>
        <activity android:name=".FamousPeopleActivity"/>
        <activity android:name=".AnimalsActivity"/>
        <activity android:name=".SpaceActivity"/>
        <activity android:name=".SportsActivity"/>
        <activity android:name=".PlanetActivity"/>
        <activity android:name=".SunActivity"/>
        <activity android:name=".GalaxyActivity"/>

        <!-- Add other activities here as needed -->

    </application>

</manifest>
